[Unit]
Description=grafana
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/local/bin/grafana-server

[Install]
WantedBy=multi-user.target
