[Unit]
Description=app.js - todolist app
After=network.target

[Service]
Environment=NODE_PORT=8081
Type=simple
WorkingDirectory=/home/myadmin/todolistapp
User=myadmin
Group=myadmin
ExecStart=/usr/bin/node app.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
